/* CUSTOM CSS */

/* USER FORM */

#user-form, #user-update-form {
	margin-top: 35%;
}
#user-update-form .form-heading, #user-form .form-heading {
	margin: 5%;
	font-weight: bold;
}


#user-detail-table {
   margin-top: 10%;
}

#user-detail-table .panel-heading {
   font-weight: 700;
}
#user-detail-table .panel button.btn {
	margin-top: -6px;
}

/* USER EDIT AND DELETE BUTTONS */

.action-user-edit,
.action-user-delete {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -5px;
}

/* Login Form */

.fb-login-button {
	background-color: #4267B2;
	color: white;
}
.google-login-button {
	background-color: #DB4437;
	color: white;
}

.fb-login-button:hover {
	color: white;
}
.google-login-button:hover {
	color: white;
}