<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form name="forgotPasswordForm">
            <div class="text-center" ng-class="{ 'bg-success': isSent, 'bg-danger': !isSent }" ng-if="message">{{message}}</div>
            <h2 class="text-center text-uppercase">Forgot assword</h2>
            <div class="form-group">
                <input type="email" ng-model="user.email" name="email" class="form-control" ng-required="true" placeholder="Enter Your Email">
            </div>
            <button ng-disabled="forgotPasswordForm.$invalid || isSubmitted || isSent" class="btn btn-primary btn-block text-uppercase" ng-click="sendResetLink()">Submit</button>
        </form>
    </div>
</div>