<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form name="loginForm">
            <div class="bg-danger text-center" ng-if="message">{{message}}</div>
            <h2 class="text-center text-uppercase">Login</h2>
            <div class="form-group">
                <input type="email" ng-model="user.email" name="email" class="form-control" ng-required="true" placeholder="Enter Your Email">
            </div>
            <div class="form-group">
                <input type="password" ng-model="user.password" name="password" class="form-control" ng-required="true" ng-minlength="4" placeholder="Enter Your Password">
            </div>
            <button ng-disabled="loginForm.$invalid" class="btn btn-primary btn-block text-uppercase" ng-click="loginUser()">Login</button>
        </form>
        <a href="#!/forgot-password">Forget Password</a>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-2 col-md-offset-4">
        <a href="/auth/facebook" class="btn btn-block fb-login-button"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i> Login With FB
                </a>
        <br>
    </div>
    <div class="col-md-2">
        <a href="/auth/google" class="btn btn-block google-login-button"><i class="fa fa-google-plus-official fa-lg" aria-hidden="true"></i> Login With Google</a>
    </div>
</div>
